body {
  font-family: Arial, sans-serif;
}

.namePage {
  font-family: 'Just Another Hand', sans-serif;
  font-size: 40px;
  position: relative;
  top: 17px;
}

.codigo {
  font-family: 'Just Another Hand', sans-serif;
  font-size: 30px;
  color: #8a09b1;
}

.codigo-title {
  font-family: 'Just Another Hand', sans-serif;
  font-size: 30px;
  color: #1a2be6;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
  text-decoration: underline;
}

.stack-title {
  font-family: 'Just Another Hand', sans-serif;
  font-size: 30px;
  color: #1a2be6;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
}

.heap-title {
  font-family: 'Just Another Hand', sans-serif;
  font-size: 30px;
  color: #e63a4a;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
}

#stackArea {
  width: 700px;
  height: 50px;
  background: #fdfdfd;
  color: #7200b0;
  border: 1px solid #8a09b1;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  resize: none;
}

#heapArea {
  width: 700px;
  height: 50px;
  background: #fdfdfd;
  color: #7200b0;
  border: 1px solid #8a09b1;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  resize: none;
}

#previus,
#next,#runButton {
  font-family: 'Just Another Hand', sans-serif;
  padding: 20 px 40px;
  margin: 15px;
  font-size: 20px;
}

.CodeMirror {
  border: 2px solid #8a09b1;
  border-radius: 6px;
  background: #fdfdfd;
  color: #7200b0;
  font-size: 14px;
  min-height: 325px;
  width:500px;
}

#arrowIndicator {
  position: absolute;
  left: 10px; /* Ajusta según tu diseño */
  width: 25px;
  height: 25px;
  z-index: 10;
  transition: top 0.15s;
  pointer-events: none;
}
#outputArea {
  width: 500px;
  top: 10px;
  height: 100px;
  background: #fdfdfd;
  color: #7200b0;
  border: 1px solid #8a09b1;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
}

.stack-visual, .heap-visual {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  min-height: 60px;
  margin-bottom: 20px;
}

.variable-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.variable-square {
  width: 50px;
  height: 50px;
  background: #e6e6fa;
  border: 2px solid #8a09b1;
  border-radius: 8px;
  margin-bottom: 6px;
}

.variable-name {
  font-size: 16px;
  color: #7200b0;
  font-family: 'Just Another Hand', sans-serif;
}
